{% extends 'base.html.twig' %}
{% block title 'Admin' %}
{% block body %}

    <div class="container">
        <h2>Gérer les biens</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td><a href="{{ path('admin.product.edit', {id: product.id}) }}" class="btn btn-secondary">Editer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path("admin.product.create") }}" class="btn btn-primary">Ajouter un bien</a>
        </div>
    </div>
{% endblock %}
